{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/header/style.css') }}">

    <footer>
        <a href="{{ path("app_footer", {'page': "conditions générales de ventes"}) }}">CGV</a> <p>|</p> <a href="{{ path("app_footer", {'page': "mention légales"}) }}">Mentions légales</a> <p>|</p> <a href="{{ path("app_footer", {'page': "politique de confidentialité"}) }}">Politique de confidentialité</a> <p>|</p> <a href="https://urlz.fr/4nf" rel=0&autoplay=1>Gestions des coookies</a>
    </footer>

{% endblock %}

