{% include 'header/header.html.twig' %}

<title>Mentions légales</title>
<link rel="stylesheet" href="{{ asset("asset/footer/style.css") }}">

<body>
    <section>
        <h1>Mentions Légales de Botanicia</h1>

        <h3>Éditeur du site :</h3>
        <p>Raison sociale : BOTANICIA</p>
        <p>Statut juridique : [SA/SARL/Individuel, etc.]</p>
        <p>Adresse du siège social : 3 rue</p>
        <p>Numéro de téléphone : 04 91 08 59 89</p>
        <p>Adresse e-mail : contact@botanicia.com</p>
        <p>Capital social : 69 €</p>
        <p>Numéro d'identification : 586346958</p>
        <p>Responsable de la publication : Nathan Hequet</p>
        <p>Directeur de la publication : Roudy Hajo</p>

        <h3>Hébergement du site :</h3>
        <p>Nom de l'hébergeur : VM de l'IUT</p>
        <p>Adresse : 3 rue Maréchal Joffre</p>
        <p>Numéro de téléphone : 36 30</p>
        <p>Adresse e-mail : mail@hebergeur.com</p>
        <p>Site web : hebergeur.com</p>

        <h3>Propriété intellectuelle :</h3>
        <p>Le site Botanicia et son contenu (textes, images, logos, etc.) sont la propriété exclusive de [Nom de l'entreprise] et sont protégés par les lois sur la propriété intellectuelle. Toute reproduction, même partielle, est strictement interdite sans autorisation préalable.</p>

        <h3>Données personnelles :</h3>
        <p>Conformément à la législation en vigueur, les données personnelles collectées sur le site Botanicia font l'objet d'un traitement informatique. Pour plus d'informations sur la collecte et l'utilisation de ces données, veuillez consulter notre politique de confidentialité.</p>

        <h3>Liens hypertextes :</h3>
        <p>Le site Botanicia peut contenir des liens vers d'autres sites internet. Nous ne sommes pas responsables du contenu de ces sites tiers et des éventuels dommages résultant de leur utilisation.</p>

        <h3>Droit applicable et litiges :</h3>
        <p>Les présentes mentions légales sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
    </section>
</body>

{% include 'footer/footer.html.twig' %}