{% include 'header/header.html.twig' %}

<title>Politique de confidentialité</title>
<link rel="stylesheet" href="{{ asset("asset/footer/style.css") }}">

<body>
    <section>
        <h1>Politique de Confidentialité de Botanicia</h1>

        <h3>Collecte des données personnelles :</h3>
        <p><b>Nous collectons les informations personnelles suivantes lorsque vous utilisez notre site :</b></p>
        <p>Informations fournies volontairement par l'utilisateur lors de la création d'un compte, de la passation d'une commande ou de la communication avec notre service client (nom, adresse, adresse e-mail, numéro de téléphone, etc.).</p>
        <p>Données collectées automatiquement, telles que l'adresse IP, le type de navigateur, les pages visitées, les préférences de langue, etc., à des fins d'analyse et d'amélioration de l'expérience utilisateur.</p>

        <h3>Utilisation des données personnelles :</h3>
        <p><b>Les données personnelles collectées sont utilisées pour :</b></p>
        <p>Traiter les commandes et assurer leur livraison.</p>
        <p>Communiquer avec les utilisateurs concernant leurs commandes, leur compte ou pour répondre à leurs demandes.</p>
        <p>Personnaliser et améliorer l'expérience utilisateur sur notre site.</p>
        <p>Envoyer des informations promotionnelles ou des newsletters, avec le consentement préalable de l'utilisateur.</p>

        <h3>Protection des données personnelles :</h3>
        <p>Botanicia s'engage à protéger les données personnelles de ses utilisateurs. Nous utilisons des mesures de sécurité techniques et organisationnelles appropriées pour prévenir tout accès non autorisé, toute divulgation, altération ou destruction des données.</p>

        <h3>Partage des données personnelles :</h3>
        <p>Nous ne vendons, n'échangeons ou ne louons pas les données personnelles de nos utilisateurs à des tiers. Cependant, certaines données peuvent être partagées avec des prestataires de services tiers strictement dans le cadre de l'exécution de services pour le compte de Botanicia (services de livraison, de paiement, etc.).</p>

        <h3>Conservation des données personnelles :</h3>
        <p>Nous conservons les données personnelles aussi longtemps que nécessaire pour atteindre les objectifs pour lesquels elles ont été collectées, sauf si une période de conservation plus longue est requise par la loi.</p>

        <h3>Droits des utilisateurs :</h3>
        <p>Les utilisateurs ont le droit d'accéder à leurs données personnelles, de les rectifier, de les supprimer ou de s'opposer à leur traitement. Pour exercer ces droits ou pour toute question concernant la politique de confidentialité, veuillez nous contacter via les coordonnées fournies dans les mentions légales.</p>

        <h3>Modification de la politique de confidentialité :</h3>
        <p>Botanicia se réserve le droit de modifier cette politique de confidentialité à tout moment. Les utilisateurs seront informés de toute modification substantielle via notre site ou par e-mail.</p>
    </section>
</body>

{% include 'footer/footer.html.twig' %}