* {
    margin: 0;
    padding: 0;
}

section {
    min-height: calc(100vh - 104px);
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 750px;
}

.bubble {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 30px;
    text-align: center;
    transform: translateX(-20px) translateY(154px);
}

#bubble {
    height: 300px;
}

#cactus {
    height: 500px;
    transform: translateY(200px) translateX(-100px);
}

.accueil {
    background-color: #228b22;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    width: 146px;
    transform: translateX(100px) translateY(100px);
}

.accueil:hover {
    background-color: #123f15;
}